<div class="jumbotron"><center><h1>ALT apps</h1></center>
<center><p> Please Upload Your Recipes Here!</p><%= link_to 'Upload Recipes', inputs_path, class: "btn btn-warning btn-lg"%></div></center>
<center><%= image_tag("salad.jpg", :alt => "rss feed") %><center>
<center><%= image_tag("food.jpg", :alt => "rss feed") %><center>


