<div class="jumbotron">
<center><h1>Welcome to ALT apps</h1></center>
<center><p>Click here to <%= link_to "Log In", users_path, class: "btn btn-warning btn-lg"%></p></center></div>
<center><%= image_tag("recipe.jpg", :alt => "rss feed") %><center>

